/*  Подключение файла с обнулением стилей */
@import "./reset.css";

/*  Подключение шрифтов */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,500;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap");
@import "./fonts.css";

body {
  font-family: "Roboto", sans-serif;
  background-color: #f0f0f0;
}

.container {
  max-width: 1230px;
  padding: 0 30px;
  margin: 0 auto;
}

/*  Header */

.header {
  padding-top: 26px;
  background-color: #30414b;
  position: fixed;
  width: 100%;
  border-bottom: 2px solid #dfd3bb;
}

.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 26px;
  color: #f0f0f0;
}

.logo {
  font-weight: 900;
  font-size: 42px;
  line-height: 42px;
  color: #f0f0f0;
  margin-right: 30px;
}

.nav-list {
  display: flex;
  align-items: center;
  column-gap: 40px;
  margin-right: 30px;
}

.nav-item {
}

.nav-link {
  color: #f0f0f0;
  font-weight: 500;
  list-style-type: none;
  font-size: 16px;
  min-width: 30px;
}

.is-active {
  color: #dfd3bb;
}

.nav-list-icons {
  display: flex;
  align-items: center;
  column-gap: 30px;
}

.nav-item-icon {
  min-width: 30px;
}

.nav-img {
  width: 30px;
  background-color: #f0f0f0;
  padding: 10%;
  border-radius: 10%;
}

.nav-img:hover {
  background-color: #dfd3bb;
  transition: 0.4s;
}

.nav-link:hover {
  color: #dfd3bb;
  transition: 0.3s;
}

.logo:hover {
  color: #dfd3bb;
  transition: 0.3s;
}

.open-button {
}

.form-popup {
  display: none;
  position: fixed;
  left: 68%;
  top: 11%;
  z-index: 9;
}

.form-container {
  max-width: 300px;
  padding: 15px;
  background-color: #30414b;
  border-radius: 10px;
  border: 2px solid #dfd3bb;
}

.label {
  color: #f0f0f0;
}

.form-container input[type="text"],
.form-container input[type="password"] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f0f0f0;
  border-radius: 10px;
}

.form-container input[type="text"]:focus,
.form-container input[type="password"]:focus {
  background-color: #f0f0f0;
  outline: none;
  color: black;
}

.form-container .btn {
  background-color: #dfd3bb;
  color: #fff;
  padding: 16px 10px;
  border: none;
  cursor: pointer;
  width: 45%;
  margin-bottom: 10px;
  opacity: 0.9;
  border-radius: 10px;
}

.submit-buttons-row {
  display: flex;
  justify-content: space-between;
}

.form-container .cancel {
  background-color: #df5754;
}

.form-container .btn:hover,
.open-button:hover {
  opacity: 1;
  color: #fff;
}

.options-buttons {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.options-buttons ul li {
  margin-top: 15px;
}

.options-buttons ul li a {
  list-style-type: none;
  font-size: 17px;
  color: #f0f0f0;
}

.options-buttons ul li a:hover {
  color: #dfd3bb;
}

/*  Footer */

.footer {
  background-color: #30414b;
  position: relative;
  bottom: 0;
  width: 100%;
  padding-top: 26px;
  padding-bottom: 1px;
}

.footer-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #f0f0f0;
}

/* Main */

.container-main {
  max-width: 1230px;
  padding: 0 30px;
  margin: 0 auto;
  padding-top: 10vh;
}

.main-img {
  width: 100%;
  height: 35vh;
  margin-top: 2vh;
  border-radius: 10px;
  object-fit: cover;
  margin-bottom: 8vh;
}

.products {
  width: 100%;
  background-color: #30414b;
  padding: 2vh 3vw;
  border-radius: 10px;
  color: #f0f0f0;
  font-weight: 400;
  line-height: 40px;
  margin-bottom: 5vh;
}

.main-title {
  text-align: center;
  font-weight: 700;
  font-size: 40px;
  margin-bottom: 5vh;
  margin-top: 5vh;
  padding-bottom: 30px;
  border-bottom: 2px solid #dfd3bb;
}

.card-line {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5vh;
  flex-wrap: wrap;
}

.card {
  margin-bottom: 40px;
  width: 240px;
  height: 360px;
  border-radius: 10px;
  color: #30414b;
  background-color: #f0f0f0;
  line-height: 20px;
}

.card-img {
  height: 250px;
  border-radius: 10px;
}

.card-discription {
  margin-top: 10px;
  border-radius: 10px;
}

.card-buy {
  padding: 0px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-title {
  text-align: center;
  font-weight: 600;
  margin-bottom: 10px;
  font-family: "JetBrains Mono", monospace;
}

.card-price {
  display: flex;
  font-weight: 900;
  font-family: "JetBrains Mono", monospace;
}

.card-price:after {
  content: "₽";
}

.card-cart-icon {
  width: 40px;
  background-color: #dfd3bb;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0;
  right: 0;
  padding: 7px;
  border-radius: 10px;
}

.card-cart-icon:hover {
  background-color: #fff;
  transition: 0.3s;
}

.contact-page {
  background-color: #30414b;
  color: #dfd3bb;
  width: 100vw;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  padding: 0;
  margin: 0;
}

.contact-img {
  width: 100%;
  position: absolute;
  bottom: 10%;
  left: 10%;
  max-width: 35%;
  height: auto;
}

.contact {
  padding: 3rem 9%;
}

.contact .heading {
  text-align: center;
  margin-bottom: 2rem;
  font-size: 3rem;
}

.contact .heading span {
  color: #dfd3bb;
  align-items: center;
}

.contact .row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.5rem;
  margin-top: 7rem;
}

.contacts .row .img {
  flex: 1 1 40rem;
}

.contacts .row .img .form-contact {
  flex: 1 1 40rem;
}

.contacts .row .img .box {
  width: 100%;
  margin: 1rem 0rem 2rem;
  border-radius: 0.5rem;
  padding: 0.8rem;
  display: flex;
}

.form-contact {
  display: inline-block;
  position: absolute;
  top: 65%;
  left: 70%;
  transform: translate(-50%, -50%);
  max-height: 80vh;
}

input {
  display: block;
  font-family: "JetBrains Mono", monospace;
  padding: 10px;
  background-color: #30414b;
  border: #dfd3bb 1px solid;
  margin-bottom: 2rem;
  margin-top: 1rem;
  border-radius: 10px;
}

.form-contact input {
  display: block;
  padding: 10px;
  background-color: #f0f0f0;
  color: #30414b;
  margin-bottom: 2rem;
  margin-top: 1rem;
  border-radius: 10px;
  font-family: "JetBrains Mono", monospace;
}

span {
  font-size: 1.5rem;
}

.problem {
  width: 100%;
  height: 150px;
  padding: 12px 12px;
  border: #dfd3bb 1px solid;
  border-radius: 10px;
  resize: none;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.registration-form {
  margin: 15vh auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.restore-form {
  margin: 15vh auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-container-restore {
  width: 500px;
  height: 500px;
  padding: 30px;
  background-color: #30414b;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.form-container-restore label {
  color: #f0f0f0;
  font-size: 1.1rem;
  font-weight: 500;
  display: block;
  cursor: normal;
  margin-top: 110px;
  margin-bottom: 10px;
}

.form-container-restore input[type="text"],
.form-container-restore input[type="password"] {
  width: 100%;
  background-color: #f0f0f0;
  padding: 15px;
  margin: 5px 0 22px 0;
  border-radius: 10px;
  cursor: pointer;
  color: #30414b;
}

.registration-page {
  color: #30414b;
  width: 100vw;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  padding: 0;
  margin: 0;
}

.registration-page p {
  color: #f0f0f0;
  font-size: 1.5rem;
  font-weight: 500;
  margin: 0 auto;
  margin-bottom: 50px;
  display: block;
  cursor: normal;
}

.restore-page p {
  color: #f0f0f0;
  font-size: 1.5rem;
  font-weight: 500;
  margin: 0 auto;
  display: block;
}

.restore-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #dfd3bb;
  color: #30414b;
  padding: 15px;
  margin: 150px auto;
  border-radius: 10px;
  cursor: pointer;
}

.form-container-registration {
  width: 500px;
  height: 500px;
  padding: 30px;
  background-color: #30414b;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.form-container-registrationi label {
  color: #f0f0f0;
  font-size: 1.1rem;
  font-weight: 500;
  display: block;
  cursor: normal;
  margin-top: 110px;
  margin-bottom: 10px;
}

.form-container-registration input[type="text"],
.form-container-registration input[type="password"] {
  width: 100%;
  background-color: #f0f0f0;
  padding: 15px;
  margin: 5px 0 22px 0;
  border-radius: 10px;
  cursor: pointer;
  color: #30414b;
}

.form-container select {
  width: 100%;
  background-color: #f0f0f0;
  padding: 15px;
  margin: 5px 0 22px 0;
  border-radius: 10px;
  cursor: pointer;
  color: #30414b;
}

.container-about {
  max-width: 1230px;
  padding: 0 30px;
  margin: 0 auto;
  padding-top: 10vh;
  padding-bottom: 10vh;
  border-radius: 10px;
  background-color: #30414b;
  color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-img-container {
  width: 200vw;
}

.about-text-container {
  border-radius: 10px;
  padding: 20px;
  margin: 0 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #f0f0f0;
  color: #30414b;
  line-height: 1.5;
  font-size: 22px;
}

.about-main-title {
  font-size: 40px;
  margin-bottom: 20px;
}
